.card-image {
  border-radius: 25px;
  height: 272px;
  width: 375px;
  background-size: cover;
}
.card-category {
  top: -392px;
  position: relative;
  border-width: 1px;
  border-radius: 50px;
  background-color: rgb(255, 81, 0);
  color: white;
  padding: 5px 30px;
  font-size: 13px;
  font-family: "Montserrat";
  left: 16px;
}
.card-price {
  font-weight: 500;
  font-size: 25px;
}
.card-title {
  position: relative;
  font-size: 20px;
  font-weight: 400;
}
.card-description {
  position: relative;
  font-size: 14px;
  font-weight: 400;
  margin-top: 8px;
  width: 384px;
}
