.card-image {
  top: -5px;
  right: 30px;
  position: relative;
  border-radius: 25px;
  height: 277px;
  width: 405px;
  background-size: cover;
}
.card-list {
  width: 345px;
  padding: 5px 30px;
  border-radius: 25px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.5s ease-out, opacity 1s ease-out;
  opacity: 0;
  transform: translateY(20px);
  margin-bottom: 105px;
}

.card-list.animate {
  opacity: 1;
  transform: translateY(0);
}
.card-list:hover {
  transform: scale(1.03);
}
.card-category {
  position: relative;
  top: -415px;
  border-width: 1px;
  border-radius: 50px;
  background-color: rgb(255, 81, 0);
  color: white;
  padding: 7px 30px;
  font-size: 13px;
  font-family: "Montserrat";
  left: -13px;
}
.card-type {
  position: relative;
  top: -197px;
  border-width: 1px;
  border-radius: 50px;
  background-color: white;
  color: black;
  font-size: 13px;
  font-family: "Montserrat";
  left: -152px;
  padding: 6px 20px;
}
.card-day {
  position: relative;
  top: -184px;
  border-width: 1px;
  border-radius: 50px;
  background-color: white;
  color: black;
  font-size: 13px;
  font-family: "Montserrat";
  left: -146px;
}
.card-price {
  font-weight: 500;
  font-size: 25px;
}
.card-title {
  position: relative;
  font-size: 20px;
  font-weight: 400;
}
.card-description {
  position: relative;
  font-size: 14px;
  font-weight: 400;
  margin-top: 8px;
  width: 384px;
}
.container-card {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-items: center;
  gap: 50px;
}
.edit {
  left: 84px;
  border-color: rgb(255, 157, 0);
  position: relative;
  border-width: 0px;
  border-radius: 50px;
  background-color: rgb(255, 157, 0);
  color: white;
  padding: 5px 30px;
  font-size: 13px;
  font-family: "Montserrat";
}
.delete {
  top: 1px;
  left: 239px;
  position: relative;
  border-width: 0px;
  border-radius: 50px;
  background-color: rgb(234, 12, 12);
  color: white;
  border-color: rgb(234, 12, 12);
  padding: 5px 30px;
  font-size: 13px;
  font-family: "Montserrat";
}
.details {
  height: 54px;
  width: 148px;
  top: 25px;
  right: 22px;
  position: relative;
  border-width: 0px;
  border-radius: 50px;
  background-color: rgb(255, 81, 0);
  color: white;
  border-color: rgb(255, 81, 0);
  padding: 5px 30px;
  font-size: 13px;
  font-family: "Montserrat";
}
